<html><head>
    <title>Target: MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <h1>
  Movie #1 details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @name %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @desc %>
  </dd>
  <dt>
    Director
  </dt>
  <dd>
    <%= @director %>
<hr>
</body>
</html>
